<% layout("/layouts/about-boil.ejs") %>
<body>
   
      <header>
        <div style=" background-image:url(./assets/img_7.jpg);background-position: top" class="header">
          
            <div class="header_content">
                <h1>ABOUT US</h1>
                <div class="line"></div>
            </div>
          </div>
      </header>
      <section>
        <div class="container-box">
            <h2>OUR HISTORY</h2>
            <div class="container-text">

                Welcome to Harmony Serve, where we are dedicated to making a difference in the lives of those in need. Founded with a vision of compassion and community, we strive to address pressing issues such as food waste, poverty, and educational inequality. 
                
                At  Harmony Serve, we believe in the power of collective action and the importance of social responsibility. Through innovative initiatives and collaborative partnerships, we aim to create a more equitable and sustainable society.
                
                Our journey began with a simple idea: to rescue surplus food from our college mess and redistribute it to those facing food insecurity. Over time, this initiative grew into a multifaceted approach to addressing various challenges faced by our community.
                
                From distributing excess food to providing second-hand products and offering educational mentorship, we are committed to serving our community with compassion and dedication. Our efforts are guided by the values of empathy, integrity, and inclusivity.
                
                We invite you to join us on this journey of impact and change. Whether through volunteering your time, supporting our initiatives, or spreading the word, together, we can make a meaningful difference in the lives of others.
                
            <h5> Together, let's build a brighter future for all.</h5>
            </div>
            <div class="team-section">
                <h2>OUR TEAM</h2>
            <div class="team">
                
                <div class="team-card">
                    <div class="img-box">
                        <img class="team-img" src="./assets/person_1.jpg" alt="">
                        <h3>Greeg Graham</h3>
                        <p>CEO</p>
                    </div>
                    <div class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore, accusantium molestias eaque magni quam consequuntur sint corporis, placeat eligendi harum sed optio velit maiores pariatur ab est, saepe iusto veniam.</div>
                </div>
                <div class="team-card">
                    <div class="img-box">
                        <img class="team-img" src="./assets/person_2.jpg" alt="">
                        <h3>Jennifer Greive</h3>
                        <p>PRESIDENT</p>
                    </div>
                    <div class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore, accusantium molestias eaque magni quam consequuntur sint corporis, placeat eligendi harum sed optio velit maiores pariatur ab est, saepe iusto veniam.</div>
                </div>
                <div class="team-card">
                    <div class="img-box">
                        <img class="team-img" src="./assets/person_3.jpg" alt="">
                        <h3>Patrick Marx</h3>
                        <p>MARKETER</p>
                    </div>
                    <div class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore, accusantium molestias eaque magni quam consequuntur sint corporis, placeat eligendi harum sed optio velit maiores pariatur ab est, saepe iusto veniam.</div>
                </div>
                <div class="team-card">
                    <div class="img-box">
                        <img class="team-img" src="./assets/person_4.jpg" alt="">
                        <h3>Mike Coolbert</h3>
                        <p>PARTNER</p>
                    </div>
                    <div class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore, accusantium molestias eaque magni quam consequuntur sint corporis, placeat eligendi harum sed optio velit maiores pariatur ab est, saepe iusto veniam.</div>
                </div>
            </div>
            </div>
        </div>
      </section>

   </body>