<% layout("/layouts/about-boil.ejs") %>
<body>
      <header>
        <div style=" background-image:url(./assets/AnnapurnaSeva.jpg);background-position: top" class="header">
          
            <div  class="header_content">
                <h1>"Nourishing Communities, One Meal at a Time"</h1>
                <div class="line"></div>
                <h4>Annapurna Seva: Serving Hope, Ending Hunger.</h3>
            <a href="#" type="button">Learn More</a>
            </div>
          </div>
      </header>

      <section class="web-section">
            <div class="container-box">
                <h1>Our Motive</h1>
                <div class="container-text">
Annapurna Seva embodies the spirit of nourishment and care, providing a lifeline for those facing food insecurity. Our initiative rescues surplus food from college messes and channels it to those in need, ensuring no one goes hungry. Through daily distributions of three nutritious meals, we aim to not only alleviate hunger but also foster a sense of community and solidarity. Join us in the mission to serve, one meal at a time, and make a difference in someone's life.
                </div>
        </div>
     </section>