<% layout("/layouts/donate-boil.ejs") %>
<body>
      <header>
        <div style=" background-image:url(./assets/bg_1.jpg);background-position: center;" class="header">
          
            <div class="header_content">
                <h1>BETTER TO GIVE THAN TO RECIEVE</h1>
                <div class="line"></div>
                <a href="#sec" type="button">Contribute Now</a>
            </div>
          </div>
      </header>
      <section id="sec">
        <div class="container-box">
            <h2>HOW CAN YOU CONTRIBUTE?</h2>
           <div class="box-container">
            <div class="boxes">
                <h1><i class="fa-solid fa-people-group"></i></h1>
                <h4>Become volunteer</h4>
                <p>Join our mission hands-on, making a direct impact in your community through volunteering opportunities.</p>
                <a href=""></a>
            </div>
            <div class="boxes">
                <h1><i class="fa-solid fa-bag-shopping"></i></h1>
                <h4>Shop from webstore</h4>
                <p> Support sustainability while helping those in need by purchasing second-hand products from our Scrap Shaala store.</p>
                <a href=""></a>
            </div>
            <div class="boxes">
                <h1><i class="fa-regular fa-bell"></i></h1>
                <h4>Spread the word</h4>
                <p>Help us reach more individuals in need and potential supporters by sharing our initiatives and impact within your network.</p>
                <a href=""></a>
            </div>
           </div>
        </div>
      </section>
      <section>
        <div class="img-container">
            <div class="donate">
                <h4>A gift in your will has power to beat heartbreak forever</h4>
                <a class="btn btn-outline-dark sub-btn" href="/donation">Donate Now</a>
            </div>
        </div>
      </section>
     </body>
