<% layout("/layouts/boilerplate.ejs") %>
<body>
      <header>
        <div class="header">
          
            <div class="header_content">
                <h1>RESCUING SURPLUS, FEEDING SOULS!</h1>
                <div class="line"></div>
                <h4>In our mission to combat food waste and insecurity, surplus food is rescued from our college mess daily. By redistributing this surplus, we address both issues simultaneously, ensuring sustainability and social responsibility.</h3>
            <a href="#sec" type="button">Learn More</a>
            </div>
          </div>
      </header>
     <section class="web-section">
      <div class="container-box">
        <h1>Who Are We?</h1>
        <div class="container-text">

          Harmony Serve is a dynamic platform committed to fostering social cohesion and community well-being through impactful initiatives. Rooted in the spirit of harmony and collective action, Harmony Serve endeavors to address pressing social issues, including food waste, poverty alleviation, and educational disparities.

          Driven by a vision of inclusivity and compassion, Harmony Serve operates various programs and partnerships aimed at creating positive change at both local and global levels. From redistributing surplus food to those in need to providing essential resources and educational opportunities to underserved communities, Harmony Serve seeks to build bridges of empathy and understanding.
          
          Through collaborative efforts and innovative solutions, Harmony Serve strives to cultivate a culture of giving and mutual support, where every individual has the opportunity to thrive and contribute to a more equitable and sustainable world. Together, we can create harmony in our communities and beyond, one act of service at a time. 
             </div>
        </div>
</div>
     </section >
     <section class="web-section" id="sec">
      <div class="title">
          <div class="title">
              <h1>OUR INITIATIVES</h1>
              <div class="line"></div>
          </div>
          <div class="card_container">
            <div class="card" style="width: 18rem;">
              <img src="./assets/AnnapurnaSeva.jpg" class="card-img-top" alt="img">
              <div class="card-body">
                <h5 class="card-title">Annapurna Seva (अन्नपूर्णा सेवा)</h5>
                <p class="card-text">Serving surplus mess food to those in need thrice daily, ensuring no one goes hungry.</p>
                <a href="/AnnapurnaSeva" class="btn btn-outline-dark sub-btn">See Details</a>
              </div>
            </div>
            <div class="card" style="width: 18rem;">
              <img src="./assets/images.jpeg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Craft Haven (क्राफ्ट हेवन) </h5>
                <p class="card-text">Discover Handmade Treasures: Craft Haven, your destination for artisan-made products crafted with passion and purpose.</p>
                <a href="/store"  class="btn btn-outline-dark sub-btn">See Details</a>
              </div>
            </div>
            <div class="card" style="width: 18rem;">
              <img src="./assets/shiskshasaathi.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Shiksha Sathi (शिक्षा साथी)</h5>
                <p class="card-text">Mentoring college students to educate and empower needy children on weekends, spreading the flame of knowledge.</p>
                <a href="/ShikshaSaathi" class="btn btn-outline-dark sub-btn">See Details</a>
              </div>
            </div>
          </div>
      </div>
   </section>
    <section  class="web-section">
        <div class="title">
            <div class="title">
                <h1>Our Key Partners</h1>
                <div class="line"></div>
            </div>
            <div class="content">
              <div class="card_container">
                <div class="card" style="width: 18rem;">
                  <img style="height: 8rem;" src="./assets/akshaya_patra.jpeg" class="card-img-top" alt="img">
                  <div class="card-body">
                    <h5 class="card-title">Akshaya Patra Foundation</h5>
                    <p class="card-text"> Partnering in "Annapurna Seva" initiative, distributing surplus mess food to the needy.</p>
                    <a href="https://www.akshayapatra.org/" class="btn btn-outline-dark sub-btn">See Details</a>
                  </div>
                </div>
                <div class="card" style="width: 18rem;">
                  <img src="./assets/crafts-council-of-india-logo.jpg" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Crafts Council of India </h5>
                    <p class="card-text">Crafts Council of India promotes Indian crafts and provides support to artisans, preserving traditional craftsmanship and empowering rural communities.</p>
                    <a href="https://www.craftscouncilofindia.org/"  class="btn btn-outline-dark sub-btn">See Deatils</a>
                  </div>
                </div>
                <div class="card" style="width: 18rem;">
                  <img src="./assets/teachforindia.webp" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Teach For India</h5>
                    <p class="card-text">Partnering in "Gyan Yagna" initiative, facilitating education mentorship programs for needy students.</p>
                    <a href="https://www.teachforindia.org/" class="btn btn-outline-dark sub-btn">See Details</a>
                  </div>
                </div>
              </div>
        </div>
        </div>
     </section>
     </body>
