<% layout("/layouts/boilerplate.ejs") %>
<body>
      <header>
        <div class="header">
          
            <div class="header_content">
                <h1>RESCUING SURPLUS, FEEDING SOULS!</h1>
                <div class="line"></div>
                <h4>In our mission to combat food waste and insecurity, surplus food is rescued from our college mess daily. By redistributing this surplus, we address both issues simultaneously, ensuring sustainability and social responsibility.</h3>
            <a href="#sec" type="button">Learn More</a>
            </div>
          </div>
      </header>
     <section class="web-section">
      <div class="container-box">
        <h1>Who Are We?</h1>
        <div class="container-text">
          Harmony Serve is a vibrant platform dedicated to catalyzing social harmony and community well-being through a range of impactful initiatives. At the heart of our efforts lies Annapurna Seva, our flagship program aimed at combating food waste and addressing food insecurity. By rescuing surplus food from college messes, we ensure nutritious meals reach those in need, fostering a sense of solidarity and sustenance in our community.

          In tandem with our commitment to sustainable practices, Crafts Haven offers a haven for artisans, showcasing their handmade creations to the world. By providing a platform for these talented individuals, we not only promote traditional craftsmanship but also empower artisans to thrive economically, preserving cultural heritage and promoting sustainable livelihoods.
          
          Furthermore, our Shiksha Saathi initiative ignites the flame of knowledge by connecting college mentors with underprivileged children. Through mentorship and educational support, we strive to bridge the educational divide, empowering young minds to reach their full potential and break the cycle of poverty.
          
          Through these interconnected programs, Harmony Serve seeks to build bridges of empathy and understanding, fostering a culture of compassion and collective action. By uniting diverse communities and leveraging the power of service, we endeavor to create a brighter, more equitable future for all.
             </div>
        </div>
</div>
     </section >
     <section class="web-section" id="sec">
      <div class="title">
          <div class="title">
              <h1>OUR INITIATIVES</h1>
              <div class="line"></div>
          </div>
          <div class="card_container">
            <div class="card" style="width: 18rem;">
              <img src="./assets/AnnapurnaSeva.jpg" class="card-img-top" alt="img">
              <div class="card-body">
                <h5 class="card-title">Annapurna Seva (अन्नपूर्णा सेवा)</h5>
                <p class="card-text">Serving surplus mess food to those in need thrice daily, ensuring no one goes hungry.</p>
                <a href="/AnnapurnaSeva" class="btn btn-outline-dark sub-btn">See Details</a>
              </div>
            </div>
            <div class="card" style="width: 18rem;">
              <img src="./assets/images.jpeg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Craft Haven (क्राफ्ट हेवन) </h5>
                <p class="card-text">Discover Handmade Treasures: Craft Haven, your destination for artisan-made products crafted with passion and purpose.</p>
                <a href="/store"  class="btn btn-outline-dark sub-btn">See Details</a>
              </div>
            </div>
            <div class="card" style="width: 18rem;">
              <img src="./assets/shiskshasaathi.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Shiksha Sathi (शिक्षा साथी)</h5>
                <p class="card-text">Mentoring college students to educate and empower needy children on weekends, spreading the flame of knowledge.</p>
                <a href="/ShikshaSaathi" class="btn btn-outline-dark sub-btn">See Details</a>
              </div>
            </div>
          </div>
      </div>
   </section>
    <section  class="web-section">
        <div class="title">
            <div class="title">
                <h1>Our Key Partners</h1>
                <div class="line"></div>
            </div>
            <div class="content">
              <div class="card_container">
                <div class="card" style="width: 18rem;">
                  <img style="height: 8rem;" src="./assets/akshaya_patra.jpeg" class="card-img-top" alt="img">
                  <div class="card-body">
                    <h5 class="card-title">Akshaya Patra Foundation</h5>
                    <p class="card-text"> Partnering in "Annapurna Seva" initiative, distributing surplus mess food to the needy.</p>
                    <a href="https://www.akshayapatra.org/" class="btn btn-outline-dark sub-btn">See Details</a>
                  </div>
                </div>
                <div class="card" style="width: 18rem;">
                  <img src="./assets/crafts-council-of-india-logo.jpg" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Crafts Council of India </h5>
                    <p class="card-text">Crafts Council of India promotes Indian crafts and provides support to artisans, preserving traditional craftsmanship and empowering rural communities.</p>
                    <a href="https://www.craftscouncilofindia.org/"  class="btn btn-outline-dark sub-btn">See Deatils</a>
                  </div>
                </div>
                <div class="card" style="width: 18rem;">
                  <img src="./assets/teachforindia.webp" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Teach For India</h5>
                    <p class="card-text">Partnering in "Gyan Yagna" initiative, facilitating education mentorship programs for needy students.</p>
                    <a href="https://www.teachforindia.org/" class="btn btn-outline-dark sub-btn">See Details</a>
                  </div>
                </div>
              </div>
        </div>
        </div>
     </section>
     </body>
