<% layout("/layouts/about-boil.ejs") %>
<body>
      <header>
        <div style=" background-image:url(./assets/img_4.jpg);background-position: top" class="header">
          
            <div  class="header_content">
                <h1>"Empowering Dreams, Illuminating Futures."</h1>
                <div class="line"></div>
                <h4>ShikshaSaathi: Lighting the Path to Education, One Mentorship at a Time.</h3>
            <a href="#sec" type="button">Learn More</a>
            </div>
          </div>
      </header>

      <section id="sec" class="web-section">
            <div class="container-box">
                <h1>Our Motive</h1>
                <div class="container-text">
    
                    ShikshaSaathi, meaning "Education Companion" in Hindi, embodies a noble purpose aimed at bridging the educational gap and fostering academic growth among underprivileged children. The initiative is driven by the firm belief that education is not just a privilege but a fundamental right that every child deserves access to, regardless of their socio-economic background.
                    
                    The primary motive of ShikshaSaathi is to provide mentorship and educational support to children who lack access to quality learning opportunities. By pairing college students or volunteers with these children as mentors, ShikshaSaathi creates a supportive learning environment where individualized attention and guidance are offered.
                    
                    Through regular mentoring sessions, ShikshaSaathi aims to enhance the academic performance, confidence, and overall well-being of the mentees. Mentors not only assist with academic subjects but also serve as role models, offering encouragement, motivation, and guidance to help mentees realize their full potential.
                    
                    Additionally, ShikshaSaathi strives to instill a love for learning and critical thinking skills in mentees, empowering them to navigate life's challenges and pursue their aspirations with determination and resilience. Beyond academics, the initiative also focuses on holistic development, including character building, life skills, and values education.
                    
                    By fostering a sense of companionship and support, ShikshaSaathi aspires to create a ripple effect of positive change, not only in the lives of individual mentees but also in their families and communities. Through education, empowerment, and mentorship, ShikshaSaathi endeavors to break the cycle of poverty and create a brighter future for the next generation. 
                
                <div  class="alert alert-light" role="alert">
                    <h5> Together, let's build a brighter future for all.</h5>
                    Become a Shiksha Saathi <br>
                    <a href="/ShikshaSaathi/apply">Apply Now!</a>
                     </div>
                </div>
        </div>
     </section>